@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url(https://fondosmil.com/fondo/74859.jpg);
    
}
.titulo{
    margin-top:20px;
    font-family: 'Rubik Gemstones', cursive;
    font-size:80px;
    text-align: center;
    color: blueviolet;

}
.container{
    background-image:url(https://fondosmil.com/fondo/74859.jpg);
    width: 1830px;
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.container__cuadros{
    width: 600px;
    height: 600px;
    display: grid;
    box-shadow:2px 3px 3px 3px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.cuadro{
    width: 200px;
    height: 200px;
    border: solid 1px;
}
.juagador1{
    width: 200px;
    height: 300px;
    animation-name:a;
    animation-duration: 6s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    border-radius:15px;
}
.juagador2{
    width: 200px;
    height: 300px;
    animation-name:b;
    animation-duration: 6s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    border-radius:15px;

}
p{
    text-align: center;
}
@keyframes a {
    0%{
        background-color: rgba(240, 231, 114, 0.897);
    }
    50%{
        background-color: rgb(158, 88, 223);
    }
    100%{
        background-color: rgb(89, 226, 162);
    }
}
@keyframes b {
    0%{
        background-color: rgba(240, 231, 114, 0.897);
    }
    50%{
        background-color: rgb(158, 88, 223);
    }
    100%{
        background-color: rgb(89, 226, 162);
    }
}
.btn {
    margin:auto;
    margin-top:100px;
    height:50px;
    width:200px;
    background-color:rgb(255, 230, 0);
    border-radius:20px;
}
 button{
    width:100%;
    height:100%;
    color:black;
    border-radius:15px;
    border:none;
    background-color:yellow;
    box-shadow:3px 2px 2px ;
    
}
.e1{
    border-radius:15px;
    margin:auto;
    height:50px;
    width:100%;
    background-color:rgba(255, 102, 0, 0.925);
}

.e2{
    margin:auto;
    height:50px;
    width:100%;
    background-color:violet;
    border-radius:15px;
}

